<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simply Weather</title>
    <link rel="manifest" href="./manifest.json">
    <link rel="stylesheet" href="./style.css">
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                navigator.serviceWorker.register('/sw.js').then(function(registration) {
                    // Registration was successful
                    console.log('ServiceWorker registration successful with scope: ', registration.scope);
                }, function(err) {
                    // registration failed :(
                    console.log('ServiceWorker registration failed: ', err);
                });
            });
        }
    </script>
    <script src="./js/axios.min.js"></script>
    <script src="./js/promise.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/vuex.js"></script>
</head>
<body>
    <div id="app" class="container-content">
        <header>
            <div id="title">
                SimplyWeather
            </div>
            <div id="utility">
                <div>
                    Status: 
                </div>
                <div>
                    {{status}}
                </div>
            </div>
        </header>
        <div id="weather">
            <div id="container-current" v-if="currentPageStatus">
                <current v-bind:current="current" v-bind:daily="daily"></current> 
                <div id="container-hourly">
                    <hourly v-for="hour in hourly"
                        v-bind:hourly="hour">
                    </hourly>
                </div>
            </div>
            <div id="container-daily" v-if="dailyPageStatus">
                <day v-for="day in daily"
                    v-bind:day="day">
                </day>
            </div>
            <div id="container-alerts" v-if="alertsPageStatus">
                <alert v-if="hasAlerts"></alert>
                <div id="noAlerts" v-if="!hasAlerts">
                    There are no weather alerts
                </div>
            </div>
        </div>
        <footer>
            <div @click="setPage('current')">Today</div>
            <div @click="setPage('daily')">7 Day</div>
            <div id="nav-alert" @click="setPage('alerts')">
                <div>
                    Alerts
                </div>
                <div class="circle" v-if="hasAlerts">

                </div>
            </div>
        </footer>
    </div> 
</body>
<script src="./app.js"></script>
</html>